<div class="container">
  <h1 class="heading font-size-xl-xl">
    <i class="fas fa-dollar-sign"></i> Pricing
  </h1>
  <p class="first-text font-size-base">Affordable Academic Support for All!</p>
  <ul class="ul font-size-base">
    <li>
      <i class="fas fa-hand-holding-usd"></i> We offer competitive pricing for
      all services.
    </li>
    <li>
      <i class="fas fa-calendar-alt"></i> We provide flexible payment plans to
      suit your needs.
    </li>
    <li>
      <i class="fas fa-tag"></i> We offer discounts for long-term commitments
      and package deals.
    </li>
  </ul>
</div>
