<div class="content-container">
  <div class="inner-div">
    <div class="card-content">
      <div class="item">
        <h2 id="students-count" class="numbers">45542+</h2>
        <br />
        <span class="text">
          Students Got Help
        </span>
      </div>
      <div class="item">
        <h2 id="subjects-count+" class="numbers">90+</h2>
        <br />
        <span class="text">
          Subjects Catered
        </span>
      </div>
      <div class="item">
        <h2 id="experts-count" class="numbers">1000+</h2>
        <br />
        <span class="text">
          In-House Experts
        </span>
      </div>
      <div class="item">
        <h2 id="success-rate-count" class="numbers">95%</h2>
        <br />
        <span class="text">
          Success Rate
        </span>
      </div>
    </div>
  </div>
</div>
