<div class="content-container">
  <div class="inner-div">
    <div class="left">
      <div class="contact-item email">
        <div class="icon">
          <img
            src="assets/icons/mail.svg"
            alt="Mail Icon"
            width="24"
            height="24"
          />
        </div>
        <span class="label font-size-base">{{email}}</span>
      </div>
      <div class="contact-item number">
        <div class="icon">
          <img
            src="assets/icons/phone.svg"
            alt="Phone Icon"
            width="24"
            height="24"
          />
        </div>
        <span class="label font-size-base">+1 (315) 561-9270</span>
      </div>
    </div>
  </div>
</div>
