<ss-page-layout>
  <div class="page-body">
    <div class="body-inner">
      <div class="inner">
        <ss-benefits
          [heading]="aboutHeading"
          [aboutSubHeading]="aboutSubHeading"
          [list]="list"
          [text]="text"
          [storyList]="storyList"
          [ourStory]="ourStory"
          [ourValues]="ourValues"
          [valuesList]="valuesList"
          [ourTeam]="ourTeam"
          [teamList]="teamList"
          [ourPurpose]="ourPurpose"
          [purposeList]="purposeList"
          [ourCommunity]="ourCommunity"
          [communityList]="communityList"
          [homePageContent]="false"
        ></ss-benefits>
      </div>
      <div class="footer">
        <ss-footer></ss-footer>
      </div>
    </div>
  </div>
</ss-page-layout>
