<ss-page-layout>
  <div class="page-body">
    <div class="body-inner">
      <div class="banner">
        <ss-animated-comp
          [heading]="heading"
          [list]="list"
          [imagePath]="bgImage"
          [fTextStrong]="fTextStrong"
          [fList]="fList"
          [sText]="sText"
          [actions]="false"
        ></ss-animated-comp>
      </div>
      <div class="inner">
        <ss-subjects-list></ss-subjects-list>
      </div>
      <div class="footer">
        <ss-footer></ss-footer>
      </div>
    </div>
  </div>
</ss-page-layout>
