$font-thin: "Proxima Nova THIN";
$font-light: "Proxima Nova LIGHT";
$font-regular: "Proxima Nova REGULAR";
$font-semibold: "Proxima Nova SEMIBOLD";
$font-bold: "Proxima Nova BOLD";
$font-extrabold: "Proxima Nova EXTRABOLD";


$font-size-dxl: 40px;
$font-size-xxxl: 35px;
$font-size-4xl: 26px;
$font-size-xxl: 24px;
$font-size-2xl: 22px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: $font-size-base * 0.625;


p,
div,
input,
span {
  font-family: $font-regular !important;
  // line-height: normal !important;
}

button>span {
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4 {
  font-family: $font-regular !important;
  line-height: normal !important;
  font-weight: 600 !important;
}

h1 {
  font-size: $font-size-dxl !important;
  font-family: $font-bold !important;
}

h2 {
  font-size: $font-size-xxxl !important;
  font-family: $font-bold !important;
}

p {
  font-size: $font-size-4xl !important;
}


ul>li {
  font-size: $font-size-4xl !important;
  margin-top: 2px !important;
}

button,
button>span {
  cursor: pointer !important;
}

span {
  font-size: $font-size-lg !important;
  font-weight: 400 !important;
}

// Responsive font sizes
@media (max-width: 1200px) {

  h1 {
    font-size: calc($font-size-dxl - 2px) !important;
  }

  h2 {
    font-size: calc($font-size-xxxl - 2px) !important;
  }

  p {
    font-size: calc($font-size-4xl - 2px) !important;
  }

  ul>li {
    font-size: calc($font-size-4xl - 2px) !important;
  }
}

@media (max-width: 992px) {

  h1 {
    font-size: calc($font-size-dxl - 4px) !important;
  }

  h2 {
    font-size: calc($font-size-xxxl - 4px) !important;
  }

  p {
    font-size: calc($font-size-4xl - 4px) !important;

    ul>li {
      font-size: calc($font-size-4xl - 4px) !important;
    }
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: calc($font-size-dxl - 6px) !important;
  }

  h2 {
    font-size: calc($font-size-xxxl - 6px) !important;

    p {
      font-size: calc($font-size-4xl - 6px) !important;
    }

    ul>li {
      font-size: calc($font-size-4xl - 6px) !important;
    }
  }
}

@media (max-width: 576px) {

  h1 {
    font-size: calc($font-size-dxl - 12px) !important;
  }

  h2 {
    font-size: calc($font-size-xxxl - 12px) !important;
  }

  p {
    font-size: calc($font-size-4xl - 8px) !important;
  }

  ul>li {
    font-size: calc($font-size-4xl - 8px) !important;

  }
}
