$font-thin: "Proxima Nova THIN";
$font-light: "Proxima Nova LIGHT";
$font-regular: "Proxima Nova REGULAR";
$font-semibold: "Proxima Nova SEMIBOLD";
$font-bold: "Proxima Nova BOLD";
$font-extrabold: "Proxima Nova EXTRABOLD";


$font-size-dxl: 40px;
$font-size-xxxl: 35px;
$font-size-4xl: 26px;
$font-size-xxl: 24px;
$font-size-2xl: 22px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: $font-size-base * 0.625;